.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  gap: 2rem;
  margin-top: 6.25rem;
  picture {
    align-self: center;
  }
  .card_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: center;
    h2 {
      border-top: 1px solid var(--fc-gray-2);
      padding-top: 6.44rem;
    }
    p {
      max-width: 21.88rem;
    }
  }
  .btn_regular {
    margin: 0;
  }
  .card_footer {
    padding-bottom: 6.44rem;
    border-bottom: 1px solid var(--fc-gray-2);
  }
}
